body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #007bff 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url('/img/project_images/looplab/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: 700px;
  background: rgba(0,0,0,0.6);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.9;
}
.card {
  background-color: #F0EC1D;
}
#home-section .fas, #create-section .fas {
  color: #32F70A;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas, #share-section .fas {
  background: #333;
  color:#007bff;
  padding: 5px;
  border-radius: 5px;
}

#contactModal {
  color:#333;
}


